### Python Data Classes


###### In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods, such as init, repr, and eq, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [4]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age:int
    profession:str

In [6]:
## The @dataclass decorator automatically generates the following methods for you:

## 1. init(): Initializes the object and assigns the provided values to the attributes.
## 2. repr(): Provides a string representation of the object.
## 3. eq(): Implements equality comparison between two objects of the class based on their attributes.

In [10]:
person1 = Person('Sanchit', 21, 'SE')
person1

Person(name='Sanchit', age=21, profession='SE')

In [12]:
person1.age

21

In [16]:
@dataclass
class Rectangle:
    width:int
    height:int
    color:str='white'

rectangle1 = Rectangle(12,14)
rectangle2 = Rectangle(13,14,'red')

In [18]:
rectangle2.color

'red'

In [20]:
@dataclass(frozen = True)
class Point:
    x:int
    y:int

In [22]:
point = Point(3,4)

In [24]:
point.x,point.y

(3, 4)

In [26]:
point.x = 12

FrozenInstanceError: cannot assign to field 'x'

In [28]:
## Inheritance

@dataclass 
class Person:
    name:str
    age:int

@dataclass 
class Employee(Person):
    employee_id:str
    department:str

In [30]:
person = Person('Sanchit',21)
employee = Employee("Sanchit",21,'123','AI')

In [32]:
employee.name

'Sanchit'

In [34]:
## Nested Dataclasses
@dataclass
class Address:
    street:str
    city:str
    zip_code:str

@dataclass
class Person:
    name:str
    age:str
    address:Address

In [36]:
address = Address('123 Main  Street', 'banglore', '110085')
person =  Person('Sanchit', 21, address)

In [38]:
person.address

Address(street='123 Main  Street', city='banglore', zip_code='110085')

In [40]:
person.address.street

'123 Main  Street'