### Tutorial 13 - Python Pandas Working with XML Tutorials - Part5

###### 1. Read XML and get Dataframe
###### 2. Convert Dataframe to XML


##### What is XML?
###### 1. XML stands for eXtensible Markup Language
###### 2. XML is a markup language much like HTML
###### 3. XML was designed to store and transport data
###### 4. XML was designed to be self-descriptive
###### 5. XML is a W3C Recommendation

In [6]:
import pandas as pd
pd.read_xml('test.xml')

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [16]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
   <firstname>Sanchit</firstname>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
   <firstname/>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
   <firstname/>
 </row>
</data>'''

In [18]:
pd.read_xml(xml)

C:\Users\acr\AppData\Local\Temp\ipykernel_15976\2704978085.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml)

      shape  degrees  sides firstname
0    square      360    4.0   Sanchit
1    circle      360    NaN      None
2  triangle      180    3.0      None

In [20]:
pd.read_xml(xml)

C:\Users\acr\AppData\Local\Temp\ipykernel_15976\2704978085.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml)

      shape  degrees  sides firstname
0    square      360    4.0   Sanchit
1    circle      360    NaN      None
2  triangle      180    3.0      None

In [26]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data>
  <row shape="square" degrees="360" sides="4.0" firstname="Sanchit"/>
  <row shape="circle" degrees="360"/>
  <row shape="triangle" degrees="180" sides="3.0" lastname="Kathpalia"/>
</data>'''

In [30]:
pd.read_xml(xml, xpath = ".//row")

C:\Users\acr\AppData\Local\Temp\ipykernel_15976\1939251802.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml, xpath = ".//row")

      shape  degrees  sides firstname   lastname
0    square      360    4.0   Sanchit       None
1    circle      360    NaN      None       None
2  triangle      180    3.0      None  Kathpalia

In [32]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<doc:data xmlns:doc="https://example.com">
  <doc:row>
    <doc:shape>square</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides>4.0</doc:sides>
  </doc:row>
  <doc:row>
    <doc:shape>circle</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides/>
  </doc:row>
  <doc:row>
    <doc:shape>triangle</doc:shape>
    <doc:degrees>180</doc:degrees>
    <doc:sides>3.0</doc:sides>
  </doc:row>
</doc:data>'''

In [40]:
## important case
df = pd.read_xml(xml, xpath = ".//doc:row", namespaces = {"doc": "https://example.com"})

C:\Users\acr\AppData\Local\Temp\ipykernel_15976\3761882666.py:2: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_xml(xml, xpath = ".//doc:row", namespaces = {"doc": "https://example.com"})

In [42]:
df.to_xml('test1.xml')