## Tutorial-11 Python Pandas Working with JSON (Part-3)

##### In part we are going to learn about
##### 1. read Json(read_json)
##### 2. To Json(to_json)
##### 3. Json Normalize

In [6]:
data = '{"employee_name": "Sanchit", "email": "sanchitkhthpalia@gmail.com", "job_profile":[{"title1": "Team Lead","title2": "Sr. Developer"}]}'

In [8]:
type(data)

str

In [10]:
import pandas as pd

In [12]:
pd.read_json(data)

C:\Users\acr\AppData\Local\Temp\ipykernel_5752\1661395064.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data)

,employee_name,email,job_profile
0,Sanchit,sanchitkhthpalia@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [14]:
pd.read_json(data, orient = 'records')

C:\Users\acr\AppData\Local\Temp\ipykernel_5752\416629398.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data, orient = 'records')

,employee_name,email,job_profile
0,Sanchit,sanchitkhthpalia@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [16]:
pd.read_json(data, orient = 'index')

C:\Users\acr\AppData\Local\Temp\ipykernel_5752\1235878039.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data, orient = 'index')

                                                               0
employee_name                                            Sanchit
email                                 sanchitkhthpalia@gmail.com
job_profile    [{'title1': 'Team Lead', 'title2': 'Sr. Develo...

In [18]:
pd.read_json(data, orient = 'split')

C:\Users\acr\AppData\Local\Temp\ipykernel_5752\3841627881.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data, orient = 'split')

ValueError: JSON data had unexpected key(s): employee_name, job_profile, email

In [20]:
pd.read_json(data, orient = 'columns')

C:\Users\acr\AppData\Local\Temp\ipykernel_5752\1489559805.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data, orient = 'columns')

,employee_name,email,job_profile
0,Sanchit,sanchitkhthpalia@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [22]:
df = pd.DataFrame([[ 'a','b'],['c','d']],
                  index = ['row 1', 'row2'],
                  columns = ['col 1', 'col 2'])

In [24]:
df

      col 1 col 2
row 1     a     b
row2      c     d

In [26]:
df.to_json()

'{"col 1":{"row 1":"a","row2":"c"},"col 2":{"row 1":"b","row2":"d"}}'

In [28]:
df.to_json(orient = 'index')

'{"row 1":{"col 1":"a","col 2":"b"},"row2":{"col 1":"c","col 2":"d"}}'

In [34]:
df.to_json(orient = 'columns')

'{"col 1":{"row 1":"a","row2":"c"},"col 2":{"row 1":"b","row2":"d"}}'

In [36]:
df.to_json(orient = 'records')

'[{"col 1":"a","col 2":"b"},{"col 1":"c","col 2":"d"}]'

In [38]:
df.to_json(orient = 'split')

'{"columns":["col 1","col 2"],"index":["row 1","row2"],"data":[["a","b"],["c","d"]]}'

In [40]:
df.to_json(orient = 'table')

'{"schema":{"fields":[{"name":"index","type":"string"},{"name":"col 1","type":"string"},{"name":"col 2","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":"row 1","col 1":"a","col 2":"b"},{"index":"row2","col 1":"c","col 2":"d"}]}'

In [42]:
schema = '{"schema":{"fields":[{"name":"index","type":"string"},{"name":"col 1","type":"string"},{"name":"col 2","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":"row 1","col 1":"a","col 2":"b"},{"index":"row2","col 1":"c","col 2":"d"}]}'

In [44]:
pd.read_json(schema, orient = 'table')

C:\Users\acr\AppData\Local\Temp\ipykernel_5752\3615220427.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(schema, orient = 'table')

      col 1 col 2
row 1     a     b
row2      c     d

In [58]:
data = [{"employee_name": "Sanchit", "email": "sanchitkhthpalia@gmail.com", "job_profile":{"title1": "Team Lead","title2": "Sr. Developer"}}]

In [48]:
pd.read_json(data)

C:\Users\acr\AppData\Local\Temp\ipykernel_5752\1661395064.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data)

,employee_name,email,job_profile
0,Sanchit,sanchitkhthpalia@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [60]:
pd.json_normalize(data)

,employee_name,email,job_profile.title1,job_profile.title2
0,Sanchit,sanchitkhthpalia@gmail.com,Team Lead,Sr. Developer

In [68]:
data = [
    {
        "id" : 1,
        "name" : "Sanchit Kathpalia",
        "fitness" : {"height" : 130, "weight" : 60},
},
{"name" : "Nirmit Kathpalia", "fitness" : {"height" : 130, "weight" : 60}},
{ 
    "id" : 2,
    "name" : "Gaurikaa Kathpalia",
        "fitness" : {"height" : 130, "weight" : 60},
},
]

In [70]:
pd.json_normalize(data)

    id                name  fitness.height  fitness.weight
0  1.0   Sanchit Kathpalia             130              60
1  NaN    Nirmit Kathpalia             130              60
2  2.0  Gaurikaa Kathpalia             130              60

In [72]:
pd.json_normalize(data, max_level = 0)

    id                name                        fitness
0  1.0   Sanchit Kathpalia  {'height': 130, 'weight': 60}
1  NaN    Nirmit Kathpalia  {'height': 130, 'weight': 60}
2  2.0  Gaurikaa Kathpalia  {'height': 130, 'weight': 60}

In [74]:
pd.json_normalize(data, max_level = 1)

    id                name  fitness.height  fitness.weight
0  1.0   Sanchit Kathpalia             130              60
1  NaN    Nirmit Kathpalia             130              60
2  2.0  Gaurikaa Kathpalia             130              60

In [76]:
data = [
    {
        "state": "Florida",
        "shortname": "FL",
        "info": {"governor": "Rick Scott"},
        "counties": [
            {"name": "Dade", "population": 12345},
            {"name": "Broward", "population": 40000},
            {"name": "Palm Beach", "population": 60000},
        ],
    },
    {
        "state": "Ohio",
        "shortname": "OH",
        "info": {"governor": "John Kasich"},
        "counties": [
            {"name": "Summit", "population": 1234},
            {"name": "Cuyahoga", "population": 1337},
        ],
    },
]

In [78]:
pd.json_normalize(data)

,state,shortname,counties,info.governor
0,Florida,FL,"[{'name': 'Dade', 'population': 12345}, {'name...",Rick Scott
1,Ohio,OH,"[{'name': 'Summit', 'population': 1234}, {'nam...",John Kasich

In [80]:
pd.json_normalize(data, "counties")

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [86]:
pd.json_normalize(data, "counties", ["state","shortname",["info", 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich