## Tutorial 10 - Python Pandas Tutorial - Part2

#### In part2 we are going to learn about:
##### 1. StringIO
##### 2. Pandas read_csv

In [7]:
### Reading different data sources with the help of pandas
from io import StringIO

In [9]:
import pandas as pd

In [17]:
df = pd.read_csv('mercedesbenz.csv')
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [19]:
type(df)

pandas.core.frame.DataFrame

In [23]:
data = ('col1,col2,col3\n'
       'x,y,1\n'
       'a,b,2\n'
       'c,d,3')

In [25]:
type(data)

str

In [29]:
## in memory file format object
StringIO(data)

In [31]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [33]:
pd.read_csv(StringIO(data), usecols=['col1','col2'])

  col1 col2
0    x    y
1    a    b
2    c    d

In [35]:
import pandas as pd
df = pd.read_csv('mercedesbenz.csv', usecols= ['X1','X2','X3','X4','X5'])
df.head()

  X1  X2 X3 X4 X5
0  v  at  a  d  u
1  t  av  e  d  y
2  w   n  c  d  x
3  t   n  f  d  x
4  v   n  f  d  h

In [37]:
df.to_csv('test.csv')

In [39]:
## data types in csv
data = ('a,b,c,d\n'
       '1,2,3,4\n'
       '5,6,7,8\n'
       '9,10,11')

In [43]:
df= pd.read_csv(StringIO(data))

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 228.0 bytes

In [49]:
df= pd.read_csv(StringIO(data),dtype = 'object')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1   b       3 non-null      object
 2   c       3 non-null      object
 3   d       2 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes

In [53]:
df.head()

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [55]:
df.isnull().sum()

a    0
b    0
c    0
d    1
dtype: int64

In [59]:
df['a'][0]

'1'

In [61]:

data = ('a,b,c,d\n'
       '1,2,3,4\n'
       '5,6,7,8\n'
       '9,10,11')

In [63]:
df= pd.read_csv(StringIO(data),dtype = {'a': int, 'b': float, 'c':int})

In [65]:
df

   a     b   c    d
0  1   2.0   3  4.0
1  5   6.0   7  8.0
2  9  10.0  11  NaN

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int32
 1   b       3 non-null      float64
 2   c       3 non-null      int32
 3   d       2 non-null      float64
dtypes: float64(2), int32(2)
memory usage: 204.0 bytes

In [71]:
df.dtypes

a      int32
b    float64
c      int32
d    float64
dtype: object

In [73]:
data = ('index,a,b,c\n'
       '4,apple,bat,5.7\n'
       '8,orange,cow,10')

In [83]:
pd.read_csv(StringIO(data),index_col = 0)

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [85]:
# use index cols and usecols
data = ('index,a,b,c\n'
       '4,apple,bat,5.7\n'
       '8,orange,cow,10')

In [87]:
pd.read_csv(StringIO(data),usecols = ['b','c'],index_col = 0)

        c
b
bat   5.7
cow  10.0