## Tutorial-14 Python Pickling and Unpickling

'''

The pickle module implements binary protocols for serializing and de-serializing a Python object structure. “Pickling” is
the process whereby a Python object hierarchy is converted into a byte stream, and “unpickling” is the inverse operation
whereby a byte stream (from a binary file or bytes-like object) is converted back into an object hierarchy. Pickling (and
unpickling) is alternatively known as “serialization”, “marshalling,” 1 or “flattening”; however, to avoid confusion, the
terms used here are “pickling” and “unpickling”.

Pickle in Python is primarily used in serializing and deserializing a Python object structure. In other words, it's the process
of converting a Python object into a byte stream to store it in a file/database, maintain program state across sessions, or
transport data over the network

'''

In [14]:
import seaborn as sns

In [16]:
df = sns.load_dataset('tips')

In [20]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [22]:
import pickle

In [24]:
filename = 'file.pkl'

In [26]:
## serialize process
pickle.dump(df, open(filename, 'wb'))

In [34]:
## unserialize 
pickle.load(open(filename, 'rb'))

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [36]:
df = pickle.load(open(filename, 'rb'))

In [38]:
type(df)

pandas.core.frame.DataFrame

In [40]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [42]:
dic_example = {'first_name' : 'Sanchit' , 'last_name' : 'Kathpalia'}

In [50]:
pickle.dump(dic_example,open('test.pkl', 'wb'))

In [52]:
pickle.load(open('test.pkl', 'rb'))

{'first_name': 'Sanchit', 'last_name': 'Kathpalia'}